*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.box1{
    width: 100%;
    height: 100%;
}

.nav{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav h1{
    color: #63CAA2;
}

.nav1{
    margin-left: 100px;
}

.nav2{
    display: flex;
    gap: 150px;
    margin-right: 100px;
}

.box2{
    width: 100%;
    height: 85%;
    display: flex;
}

.box21{
    width: 50%;
    height: 100%;
}

.box22{
    width: 50%;
    height: 100%;
}

.box212{
    margin-left: 100px;
    margin-top: 100px;
}

.box212 h1{
    font-size: 60px;
    font-weight: 100;
}

.box212 h1 span{
    color: #63CAA2;
}

.box213{
    margin-left: 100px;
    margin-top: 25px;
}

.box213 p{
    font-size: 25px;
    font-weight: lighter;
}

.box214{
    margin-left: 100px;
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.box215 button{
    padding: 12px;
    border-radius: 5px;
    font-weight: bolder;
    background-color: #63CAA2;
    color: white;
    border: none;
}

.box216 button{
    padding: 12px;
    border-radius: 5px;
    font-weight: bolder;
    background-color: #F1893E;
    color: #63CAA2;
    border: none;
}